body {
    margin: 0;
    
}
#main {
    background-color: hsl(0, 7%, 89%);
}

#title {
    text-align: center;
    padding: 4px 0 8px 0;
    
}

#title h1 {
    font-size: 48px;
}


#img-div {
    text-align: center; 
    margin: 16px;
    background-color: white;
    padding-bottom: 8px;
    max-width: 100%;
}

#image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

#body2 {
    text-align:center;
  }
  
  ul {
    text-align: left;
    width: 40%;
    position:relative;
    left: 30%;
    padding-top: 12px;
    }

li {
    padding-bottom: 12px;
}

 #body2 h2 {
     padding-top: 24px;
 }

 #body2 p {
    text-align: left;
    width: 40%;
    position:relative;
    left: 30%;
    padding-top: 12px;
    }

#tribute-info {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}